In [1]:
#Task 10:- Develop a Python script that performs a boundary check on a given column
#of data. The script should take a column name, minimum value,
#and maximum value as input and flag any rows in the database where the
#column value is outside the specified bounds.

In [2]:
#pip install pymysql

In [6]:
import pymysql

# Input parameters
column_name = input("Enter the column name: ")
min_value = float(input("Enter the minimum value: "))
max_value = float(input("Enter the maximum value: "))

# Connect to the MySQL database (change this according to your database)
conn = pymysql.connect(host='18.212.98.121',
                       user='farhan',
                       password='farhan',
                       database='classicmodels')

cursor = conn.cursor()

# Replace 'your_table' with the actual name of your table
table_name = 'employees'

# Execute a query to select rows where the column value is outside the specified bounds
query = f"SELECT * FROM {table_name} WHERE {column_name} < %s OR {column_name} > %s"
cursor.execute(query, (min_value, max_value))

# Fetch the result
rows_outside_bounds = cursor.fetchall()

# Display or log the flagged rows
if rows_outside_bounds:
    print(f"Rows outside bounds for column {column_name}:")
    for row in rows_outside_bounds:
        print(row)
else:
    print("No rows outside bounds.")
    

# Close the database connection
conn.close()

Enter the column name: employeeNumber
Enter the minimum value: 1002
Enter the maximum value: 1370
Rows outside bounds for column employeeNumber:
(1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep')
(1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep')
(1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep')
(1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep')
(1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep')
(1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep')
(1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep')

In [4]:
#Task 11- Write a Python function that validates email addresses in a database table
#using regular expressions. The function should identify and flag any invalid
#email addresses in the specified column.

In [15]:
import pymysql
import re

def validate_email_addresses(column_name):
    # Connect to the MySQL database (change this according to your database)
    conn = pymysql.connect(host='18.212.98.121',
                           user='farhan',
                           password='farhan',
                           database='classicmodels')

    cursor = conn.cursor()

    # Replace 'your_table' with the actual name of your table
    table_name = 'employees'
    column_name='email'

    # Execute a query to select all rows and the specified email column
    query = f"SELECT * FROM employees WHERE email IS NOT NULL"
    cursor.execute(query)

    # Fetch the result
    rows = cursor.fetchall()

    # Regular expression for validating an Email
    email_regex = re.compile(r'^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$')

    # List to store invalid email addresses
    invalid_emails = []

    # Check each row for valid email addresses
    for row in rows:
        email = row[1]  # Assuming the email column is the second column in the table
        if not re.match(email_regex, email):
            invalid_emails.append((row, email))

    # Display or log the invalid email addresses
    if invalid_emails:
        print(f"Invalid email addresses in column {column_name}:")
        for row, invalid_email in invalid_emails:
            print(f"Row {row}: {invalid_email}")
    else:
        print(f"All email addresses in column {column_name} are valid.")

    # Close the database connection
    conn.close()

# Example usage: Validate email addresses in the 'email' column
validate_email_addresses('email')

Invalid email addresses in column email:
Row (1002, 'Murphy', 'Diane', 'x5800', 'dmurphy@classicmodelcars.com', '1', None, 'President'): Murphy
Row (1056, 'Patterson', 'Mary', 'x4611', 'mpatterso@classicmodelcars.com', '1', 1002, 'VP Sales'): Patterson
Row (1076, 'Firrelli', 'Jeff', 'x9273', 'jfirrelli@classicmodelcars.com', '1', 1002, 'VP Marketing'): Firrelli
Row (1088, 'Patterson', 'William', 'x4871', 'wpatterson@classicmodelcars.com', '6', 1056, 'Sales Manager (APAC)'): Patterson
Row (1102, 'Bondur', 'Gerard', 'x5408', 'gbondur@classicmodelcars.com', '4', 1056, 'Sale Manager (EMEA)'): Bondur
Row (1143, 'Bow', 'Anthony', 'x5428', 'abow@classicmodelcars.com', '1', 1056, 'Sales Manager (NA)'): Bow
Row (1165, 'Jennings', 'Leslie', 'x3291', 'ljennings@classicmodelcars.com', '1', 1143, 'Sales Rep'): Jennings
Row (1166, 'Thompson', 'Leslie', 'x4065', 'lthompson@classicmodelcars.com', '1', 1143, 'Sales Rep'): Thompson
Row (1188, 'Firrelli', 'Julie', 'x2173', 'jfirrelli@classicmodelcars.com', '2', 1143, 'Sales Rep'): Firrelli
Row (1216, 'Patterson', 'Steve', 'x4334', 'spatterson@classicmodelcars.com', '2', 1143, 'Sales Rep'): Patterson
Row (1286, 'Tseng', 'Foon Yue', 'x2248', 'ftseng@classicmodelcars.com', '3', 1143, 'Sales Rep'): Tseng
Row (1323, 'Vanauf', 'George', 'x4102', 'gvanauf@classicmodelcars.com', '3', 1143, 'Sales Rep'): Vanauf
Row (1337, 'Bondur', 'Loui', 'x6493', 'lbondur@classicmodelcars.com', '4', 1102, 'Sales Rep'): Bondur
Row (1370, 'Hernandez', 'Gerard', 'x2028', 'ghernande@classicmodelcars.com', '4', 1102, 'Sales Rep'): Hernandez
Row (1401, 'Castillo', 'Pamela', 'x2759', 'pcastillo@classicmodelcars.com', '4', 1102, 'Sales Rep'): Castillo
Row (1501, 'Bott', 'Larry', 'x2311', 'lbott@classicmodelcars.com', '7', 1102, 'Sales Rep'): Bott
Row (1504, 'Jones', 'Barry', 'x102', 'bjones@classicmodelcars.com', '7', 1102, 'Sales Rep'): Jones
Row (1611, 'Fixter', 'Andy', 'x101', 'afixter@classicmodelcars.com', '6', 1088, 'Sales Rep'): Fixter
Row (1612, 'Marsh', 'Peter', 'x102', 'pmarsh@classicmodelcars.com', '6', 1088, 'Sales Rep'): Marsh
Row (1619, 'King', 'Tom', 'x103', 'tking@classicmodelcars.com', '6', 1088, 'Sales Rep'): King
Row (1621, 'Nishi', 'Mami', 'x101', 'mnishi@classicmodelcars.com', '5', 1056, 'Sales Rep'): Nishi
Row (1625, 'Kato', 'Yoshimi', 'x102', 'ykato@classicmodelcars.com', '5', 1621, 'Sales Rep'): Kato
Row (1702, 'Gerard', 'Martin', 'x2312', 'mgerard@classicmodelcars.com', '4', 1102, 'Sales Rep'): Gerard

In [16]:
#Task 12-- Create a Python script that automates regular audits on a sample database.
#The script should connect to the database, validate entries against predefined
#business rules, and generate a report summarizing the results.

In [26]:
import pymysql

def connect_to_database():
    # Replace these with the provided MySQL connection details
    host = '18.212.98.121'
    user = 'farhan'
    password = 'farhan'
    database = 'classicmodels'

    # Connect to the database
    conn = pymysql.connect(host=host, user=user, password=password, database=database)
    cursor = conn.cursor()

    return conn, cursor

def close_database_connection(conn, cursor):
    # Close the database connection
    cursor.close()
    conn.close()

def perform_audit():
    # Connect to the database
    conn, cursor = connect_to_database()

    try:
        # Perform the audit - Replace with your own business rules
        # For example, validating that certain columns meet specific criteria
        # You should customize this part based on your business rules and database schema
        query = "SELECT * FROM employees WHERE employeeNumber<1000"
        cursor.execute(query)
        audit_results = cursor.fetchall()

        # Generate a report summarizing the audit results
        if audit_results:
            print("Audit Results:")
            for result in audit_results:
                print(result)
        else:
            print("No issues found during the audit.")

    except Exception as e:
        print(f"Error during audit: {e}")

    finally:
        # Close the database connection
        close_database_connection(conn, cursor)

# Execute the audit
perform_audit()

No issues found during the audit.

In [ ]:
#task 13- Create a Python script that checks historical logs from the DB predicts
#most repeatable queries. hint: https://stackoverflow.com/questions/650238/howto-
#show-the-last-queries-executed-on-mysql

In [ ]:
import re

def analyze_query_log(log_file_path):
    # Read the content of the log file
    with open(log_file_path, 'r') as log_file:
        log_content = log_file.read()

    # Extract queries from the log using regular expressions
    query_pattern = re.compile(r'\b(?:SELECT|INSERT|UPDATE|DELETE|ALTER|CREATE|DROP)\b.*?;', re.DOTALL)
    queries = query_pattern.findall(log_content)

    # Count the occurrences of each query
    query_counts = {}
    for query in queries:
        query_counts[query] = query_counts.get(query, 0) + 1

    # Sort queries by frequency in descending order
    sorted_queries = sorted(query_counts.items(), key=lambda x: x[1], reverse=True)

    # Display the most repeatable queries and their frequencies
    print("Most Repeatable Queries:")
    for query, count in sorted_queries:
        print(f"Query: {query.strip()}\nCount: {count}\n{'-' * 30}")

if __name__ == "__main__":
    # Provide the path to your MySQL general query log file
    log_file_path = '/path/to/mysql/query.log'
    
    # Analyze the query log
    analyze_query_log(log_file_path)